
<div class="card">
  <div class="card-header">
    <div class="card-header-title">
      <h2 class="subtitle is-3">How to start chatting</h2>
    </div>
  </div>

  <div class="card-content">
    <div class="content">
      <div class='columns is-mobile'>
        <div class='column is-5'>
          <div class='list'>
            <ul>
              <li class='list-item'>
                Create an account in the button that is in the navbar.
              </li>
              <li class='list-item'>
                Login in your account.
              </li>
              <li class='list-item'>
                Click in the button start chatting that is also in the navbar.
              </li>
              <li class='list-item'>
                Now happy chatting ;)
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
