<%= form_with(model: room, remote: true, class: 'field') do |form| %>
  <div class="panel-block">
    <%= form.text_field :name, autocomplete: 'off', class: 'input mr-2' %>
    <%= form.submit data: { disable_with: false }, class: 'button is-primary' %>
  </div>
<% end %>
