<h1>Rooms#index</h1>

<%= turbo_stream_from 'users' %>
<div id="users">
  <h3>Users</h3>
  <% @users.each do |user| %>
  <% end %>
</div>

<%= turbo_stream_from 'rooms' %>
<div id="rooms">
  <h3>Rooms</h3>
  <% @rooms.each do |room| %>
  <% end %>
</div>
