<% if flash.any? %>
  <section class="section" data-controller="flash-messages">
    <% if notice %>
      <div data-flash-messages-target="deleteButton" class="notification is-success is-light">
        <button data-action="click->flash-messages#removeFlashMessage"class="delete"></button>
        <p><%= notice %></p> { notice }
      </div>
    <% end %>

    <% if alert %>
      <div data-flash-messages-target="deleteButton" class="notification is-danger">
        <button data-action="click->flash-messages#removeFlashMessage" class="delete"></button>
        <p><%= alert %></p>
      </div>
    <% end %>
  </section>
<% end %>
